<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BMW_v1.Properties.Settings.UserDatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\UserDatabase.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
</configuration>